header {
  box-shadow: 0 0 14px -10px #000;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--container-color);
  z-index: 1000;
}

.container-nav {
  margin: 0 auto;
  width: 80%;
  padding-right: 2%;
  font-size: 20px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  height: 60px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav__item a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.nav__item a:after {
  content: "";
  position: absolute;
  height: 2.7px;
  width: 0%;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.nav__item__products a:after,
.nav__item__about a:after {
  background-color: #111111;
}

.nav__item__whatsapp a:after {
  background-color: #25d366;
}

.nav__item a:hover:after {
  width: 100%;
}

.nav__item a:hover {
  font-weight: bold;
}

.nav__item i {
  font-size: 23px;
  margin-right: 5px;
}

.nav__item__whatsapp a:hover {
  color: #25d366;
}

@media (max-width: 1100px) {
  .container-nav {
    font-size: 19px;
    width: 95%;
  }

  .menu-logo {
    height: 60px;
  }

  .nav {
    gap: 30px;
  }
}

@media (max-width: 720px) {
  .container-nav {
    justify-content: center;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 200px;
    z-index: 99999;
  }

  .nav__item {
    background-color: #fff;
    padding: 1rem;
  }
}