header {
  box-shadow: 0 0 14px -10px #000;
  background-color: var(--cor-container);
}

.container-nav {
  padding: 0 18rem 0 15rem;
  font-size: 19px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  height: 65px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav_item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav_item a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav_item a:after {
  content: "";
  position: absolute;
  height: 2.7px;
  width: 0%;
  left: 0;
  bottom: -3px;
  transition: 0.4s;
}

.nav_item_produtos a:after,
.nav_item_quemsomos a:after {
  background-color: #111111;
}

.nav_item_whatsapp a:after {
  background-color: #25d366;
}

.nav_item a:hover:after {
  width: 100%;
}

.nav_item i {
  font-size: 23px;
  margin-right: 5px;
}

.nav_item_whatsapp a:hover {
  color: #25d366;
}